*{
      margin: 0;
      padding: 0;
      position:fixed;

}

  body {
    font-size: 15px;
  }
  .v1_2 {
    width: 100%;
    height: 864px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    /* overflow: hidden; */
  }
  .v1_3 {
    width: 230px;
    height: 40px;
    background: rgba(148, 170, 196, 0.44);
    opacity: 1;
    position: absolute;
    top: 455px;
    left: 635px;
    text-align: center;
    
    
    /* overflow: hidden; */
  }


  .v1_4 {
    width: 47px;
    color: rgba(28,70,218,1);
    position: absolute;
    top: 400px;
    left: 725px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: left;
  }
  .v2_5 {
    width: 174px;
    color: rgba(28,70,218,1);
    position: absolute;
    top: 195px;
    left: 625px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align:left;
    white-space: nowrap;
  }

  /* .v36_83 {
    width: 150px; /* Set width and height to make it a square */
    /* height: 50px;
    background: rgba(28, 70, 217, 0.9);
    opacity: 1;
    position: absolute;
    top: 555px;
    left: 650px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60%; /* Set border-radius to 50% for a circular shape */
  
   
  /* .v36_83 {
    width: 167px;
    height: 67px;
    background: rgba(28,70,217,0.8999999761581421);
    opacity: 1;
    position: absolute;
    top: 555px;
    left: 650px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  } */
  /* .v36_84 {
    width: 75px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 577px;
    left: 690px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left; */
  
    .round-button {
        width: 150px;
        height: 40px;
        background: rgba(28, 70, 217, 0.9);
        color: white;
        opacity: 1;
        position: absolute;
        top: 530px;
        left: 675px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px; /* Adjust the border-radius to control the roundness */
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .logo-image {
        width: 60px; /* Adjust the width as needed */
        height: 60px; /* Maintain aspect ratio */
        top: 320px;
        margin-right: 10px; /* Add margin to separate the logo from text */
        left: 720px;
    }


